.popover {
    position: absolute;
    z-index: 3;
    padding: 16px;
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    background-color: var(--badge-bg);
    @include mainShadow();

    &_left {
        left: 0;
    }

    &_right {
        right: 0;
    }

    &_under {
        top: 100%;
        margin-top: 12px;
    }

    &_above {
        bottom: 100%;
        right: 0;
        margin-bottom: 12px;
    }

    &_active {
        z-index: 101;
        opacity: 1;
        visibility: visible;
    }

    &_close-button {
        padding: 24px 48px 16px 16px;
    }

    &__close {
        position: absolute;
        top: 12px;
        right: 12px;

        cursor: pointer;
        background-color: transparent;
        color: var(--text-gray-to-light);
        outline: none;

        svg {
            width: 10px;
            height: 10px;
            color: var(--text-gray-to-light);
        }

        @include mobile {
            top: 12px;
        }
    }
}