:root {
    // Text
    --text-primary: #082567;
    --text-secondary-gray: #6771a2;
    --text-secondary-graylight: #828cb7;
}

.dark-mode {
    // Text
    --text-primary: #dbdff1;
    --text-secondary-gray: #b6bacf;
    --text-secondary-graylight: #dbdff1;
}