:root {
    --primary-bg: #eeeff7;
    --secondary-bg: #fafafa;
    --blue: #4149a0;
    --blue-secondary: #4149a0;
    --blue-badge: #e2e5f4;
    --white: #ffffff;
    --white-to-black: #ffffff;

    --stroke-gray: #edeef2;

    // Backgrounds
    --badge-bg: #FEFEFE;

    // Text
    --text-primary: #082567;

    --text-secondary-gray: #6771a2;
    --text-secondary-graylight: #828cb7;

    --text-accent-white: #ffffff;
    --text-accent-blue: #4149a0;
    --text-accent-gray: #828cb7;

    --text-btn-white: #ffffff;

    //Input
    --input-bg: #f6f6fa;
    --input-border: #e2e5f4;
    --input-border-focused: #a8afd2;
    --input-invalid: #d79b9b;
    --input-icon: #b8bdda;
    --input-label: #969cc0;
    --input-asterisk: #656fa2;

    // Modal
    --modal-backdrop: rgba(0, 0, 0, .75);
    --modal-close: rgba(255, 255, 255, 0.5);

    // Border
    --border-primary: #edeef2;

    --level-progess-bar-active: #4382BC;
}

.dark-mode {
    --primary-bg: #1e2239;
    --secondary-bg: #232744;
    --blue: #2d347d;
    --blue-secondary: #1e2249;
    --blue-badge: #2d325a;
    --white-to-black: #06070f;

    --stroke-gray: #edeef2;

    // Backgrounds
    --badge-bg: #343653;

    // Text
    --text-primary: #cbd0e5;

    --text-secondary-gray: #747996;
    --text-secondary-graylight: #abb0c3;

    --text-accent-white: #dbdff1;
    --text-accent-gray: #9ea8d2;

    --text-btn-white: #cbd0e5;

    //Input
    --input-bg: #2d325a;
    --input-border: #353b62;

    --input-label: #b6bacf;

    // Modal
    --modal-backdrop: rgba(0, 0, 0, 0.9);
    --modal-close: rgba(255, 255, 255, 0.8);

    // Border
    --border-primary: #37394e;

    --level-progess-bar-active: #086FCF;
}