@use "./fonts" as fonts;
@use "./functions" as functions;

@mixin font($name, $weight, $size, $color, $height, $style) {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    font-size: functions.pxToRem($size);
    color: $color;

    @if $height != 1 {
        line-height: calc($height / $size);
    }
}

@mixin mainFont($weight, $size, $color: null, $height: 1, $style: normal) {
    @include font(fonts.$mainFont, $weight, $size, $color, $height, $style);
}

@mixin boxShadow($x, $y, $blur, $spread, $color) {
    -webkit-box-shadow: #{$x}px #{$y}px #{$blur}px #{$spread}px $color;
    -moz-box-shadow: #{$x}px #{$y}px #{$blur}px #{$spread}px $color;
    box-shadow: #{$x}px #{$y}px #{$blur}px #{$spread}px $color;
}

@mixin mainShadow() {
    @include boxShadow(-10, 10, 30, 0, rgba(#37406d, 10%));
}