.symbols {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    height: 100%;

    &__field {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 48px;
    }

    &__symbols {
        display: grid;
        gap: 4px;
        width: fit-content;

        @include tablet {
            gap: 6px;
        }
    }

    &__controls {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__variants {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 4px;
        border-radius: 12px;
        padding: 16px 8px;
        border: 2px dashed transparent;

        transition: all 250ms ease;

        @include tablet {
            gap: 6px;
        }

        @include mobile {
            gap: 8px;
        }

        &_entered {
            border: 2px dashed var(--primary-subtitle);
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 500ms ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
    opacity: 1;
}

.scale-enter-active,
.scale-leave-active {
    transition:
            opacity 250ms ease,
            transform 250ms ease;
}

.scale-enter-from,
.scale-leave-to {
    opacity: 0;
    transform: scale(0);
}

.scale-enter-to,
.scale-leave-from {
    opacity: 1;
    transform: scale(1);
}