@use "../collection/_mixins.scss" as mixins;

body {
    background-color: var(--secondary-bg);
    @include mixins.mainFont(500, 16, black);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.untouchable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.pink {
    color: var(--pink);
}

.green {
    color: var(--green);
}

.cyan {
    color: var(--cyan);
}

.violet {
    color: var(--violet);
}

.purple {
    color: var(--purple);
}

.ocher {
    color: var(--ocher);
}

.iris {
    color: var(--iris);
}

.no-transition .sidebar-item {
    transition: none !important;
}

.game-widget_invalid {
    animation: light 1s ease-in-out;
}

@keyframes light {
    0% {
        background-color: transparent;
    }
    10% {
        background-color: var(--game-invalid);
    }
    100% {
        background-color: transparent;
    }
}