@use "../collection/_mixins.scss" as mixins;
@use "../collection/_medias.scss" as medias;
@forward "dp";

:root {
    .swiper-pagination-bullet {
        background-color: var(--blue-badge);
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--blue);
        opacity: 1;
    }
}

body {
    background-color: var(--secondary-bg);
    @include mixins.mainFont(500, 16, black);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.untouchable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.pink {
    color: var(--pink);
}

.green {
    color: var(--green);
}

.cyan {
    color: var(--cyan);
}

.violet {
    color: var(--violet);
}

.purple {
    color: var(--purple);
}

.ocher {
    color: var(--ocher);
}

.iris {
    color: var(--iris);
}

.pink-bg {
    background-color: var(--pink-bg);
}

.green-bg {
    background-color: var(--green-bg);
}

.cyan-bg {
    background-color: var(--cyan-bg);
}

.violet-bg {
    background-color: var(--violet-bg);
}

.purple-bg {
    background-color: var(--purple-bg);
}

.ocher-bg {
    background-color: var(--ocher-bg);
}

.iris-bg {
    background-color: var(--iris-bg);
}

.no-transition .sidebar-item {
    transition: none !important;
}

.game-widget_invalid {
    animation: light 1s ease-in-out;
}

.title {
    @include mixins.mainFont(500, 24, var(--primary-title));

    @include medias.tablet {
        @include mixins.mainFont(500, 20, var(--primary-title))
    }

    @include medias.mobile {
        @include mixins.mainFont(500, 18, var(--primary-title))
    }
}

@keyframes light {
    0% {
        background-color: transparent;
    }
    10% {
        background-color: var(--game-invalid);
    }
    100% {
        background-color: transparent;
    }
}

.load-enter-active,
.load-leave-active {
    transition: opacity 500ms ease;
}

.load-enter-from,
.load-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: visibility 250ms ease, opacity 250ms ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    visibility: hidden;
}

.scale-enter-active,
.scale-leave-active {
    transition: transform 250ms ease;
}

.scale-enter-from,
.scale-leave-to {
    transform: scale(0);
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: transform 250ms ease, opacity 150ms ease;
}

.slide-fade-enter-from {
    transform: translateY(-100%);
    opacity: 0;
}

.slide-fade-enter-to,
.slide-fade-leave-from {
    transform: translateY(0);
    opacity: 1;
}

.slide-fade-leave-to {
    transform: translateY(100%);
    opacity: 0;
}