.progress-program {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include tablet {
        gap: 36px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include mobile {
            gap: 8px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include tablet {
            gap: 24px;
        }

        @include mobile {
            align-items: center;
        }
    }

    &__subtitle {
        @include mainFont(500, 18, var(--primary-title));

        @include mobile {
            font-size: 16px;
        }
    }

    &__text {
        @include mainFont(400, 16, var(--primary-subtitle));

        &_underlined {
            text-decoration: underline;
        }

        @include mobile {
            font-size: 14px;
        }
    }
}