.statistics {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    @include mobile {
        width: calc(100vw + 32px);
        padding: 16px 0;
        margin: 0 -16px;
    }

    &__arrow {
        cursor: pointer;
        z-index: 11;
        display: flex;
        align-items: center;
        padding: 0 8px;

        transition: all 250ms ease;

        @include mobile {
            display: none;
        }
    }

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        min-width: 25px;
        height: 25px;
        min-height: 25px;
        margin: auto;
        border-radius: 100px;
        rotate: -90deg;
        color: var(--accent-white);
        background-color: var(--blue);

        &:hover {
            background-color: var(--blue-hovered);
        }
    }
}

.swiper {
    margin: 0;
    padding: 24px 0 36px 42px;
    width: auto;
    max-width: 745px;
    height: 100%;

    @include mobile {
        width: calc(100vw + 32px);
        padding: 16px;
    }

    &-warpper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &-slide {
        width: fit-content;
    }
}