.statistics {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0 48px 0 16px;
    overflow: hidden;

    @include mobile {
        width: calc(100vw + 32px);
        padding: 16px 0;
        margin: 0 -16px;
    }

    &__arrow {
        cursor: pointer;
        z-index: 11;
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        margin: auto;
        border-radius: 100px;
        color: var(--accent-white);
        background-color: var(--blue);

        transition: all 250ms ease;

        @include mobile {
            display: none;
        }

        &_next {
            right: 0;
            rotate: -90deg;
        }

        &:hover {
            background-color: var(--blue-hovered);
        }
    }
}

.swiper {
    display: flex;
    align-items: center;
    height: calc(255px + 16px + 48px);
    max-width: calc(712px + 32px);
    padding: 16px 16px 48px 32px;
    overflow: hidden;

    @include mobile {
        width: calc(100vw + 32px);
        padding: 16px;
    }

    &-warpper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &-slide {
        display: flex;
        align-items: center;
        width: 290px;
        height: 255px;
        opacity: 0;
        visibility: hidden;

        &-active {
            width: 375px;
        }

        &-visible {
            opacity: 1;
            visibility: visible;
        }
    }
}