.color-mode {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    min-width: 140px;
    width: 140px;
    height: 50px;
    border-radius: 100px;
    padding: 5px;
    background-color: var(--blue-badge);

    &_dark {
        .color-mode__circle {
            transform: translateX(calc(140px - 40px - 10px)) rotate(360deg);
        }

        .color-mode__label {
            transform: translateX(calc(-40px));
        }
    }

    svg {
        color: var(--text-accent-white);
    }

    &__circle {
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: var(--color-mode-item-bg);
        transition: transform 0.3s ease-in-out, background-color 0.25s ease;
    }

    &__label {
        position: absolute;
        z-index: 1;
        right: 21px;
        transition: transform 0.15s ease-in-out, color 0.25s ease;

        @include mainFont(400, 14, var(--primary-subtitle));
    }

    &_visible,
    &_hidden {
        position: absolute;
        transition: opacity 0.3s linear;
    }

    &_visible {
        opacity: 1;
    }

    &_hidden {
        opacity: 0;
    }

    &:hover {
        .color-mode__label {
            color: var(--primary-subtitle-hovered);
        }

        .color-mode__circle {
            background-color: var(--color-mode-item-bg-hovered);
        }
    }
}