.slider {
    position: relative;
    width: 100%;
    height: 20px;
    cursor: pointer;

    &__track {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 6px;
        transform: translateY(-50%);
        border-radius: 50px;
        background: var(--blue-badge);

        @include mobile {
            height: 4px;
        }
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 6px;
        transform: translateY(-50%);
        border-radius: 50px;
        background: var(--blue);

        @include mobile {
            height: 4px;
        }
    }

    &__thumb {
        position: absolute;
        top: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        background: var(--blue);

        @include mobile {
            width: 12px;
            height: 12px;
        }
    }

    &__icon {
        z-index: 11;
        position: absolute;
        transform: translateX(6px);
        color: var(--primary-title);

        svg {
            width: 15px;
            height: 18px;

            @include mobile {
                width: 13px;
                height: 16px;
            }
        }
    }
}