.change-password {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 475px;
    min-height: 605px;
    padding: 60px 72px;
    border-radius: 48px;
    background-color: var(--primary-bg);
    overflow: hidden;

    @include tablet {
        width: 375px;
        padding: 60px 48px;
        border-radius: 36px;
    }

    @include mobile {
        width: 100%;
        height: 100vh;
        padding: 24px;
        border-radius: unset;
    }

    &__content {
        width: 100%;
        height: 100%;

        @include mobile {
            justify-content: center;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__success {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        @include mobile {
            gap: 12px;
        }

        svg {
            width: 32px;
            height: 32px;
            color: var(--primary-title);

            @include tablet {
                width: 28px;
                height: 28px;
            }

            @include mobile {
                width: 24px;
                height: 24px;
            }
        }

        p {
            text-align: center;
            @include mainFont(500, 18, var(--primary-title));

            @include tablet {
                font-size: 16px;
            }

            @include mobile {
                font-size: 14px;
            }
        }
    }

    &__key {
        width: 75px;
        height: 42px;
        margin-bottom: 48px;
        color: var(--primary-subtitle);

        svg {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }

        @include tablet {
            width: 60px;
            height: 35px;
            margin-bottom: 24px;
        }

        @include mobile {
            width: 48px;
            height: 28px;
            margin-bottom: 16px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        padding: 0 16px;
        margin-bottom: 60px;

        @include tablet {
            margin-bottom: 48px;
        }

        @include mobile {
            margin-bottom: 36px;
        }
    }

    &__current {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 16px;
    }

    &__button {
        margin-top: auto;
    }

    &__reset {
        cursor: pointer;
        text-decoration: underline;
        text-align: right;
        transition: color 250ms ease;

        @include mainFont(400, 12, var(--primary-subtitle));

        &:hover {
            color: var(--primary-subtitle-hovered);
        }

        @include mobile {
            font-size: 10px;
        }
    }

    &__chevron {
        cursor: pointer;
        position: absolute;
        top: 36px;
        left: 36px;
        rotate: 90deg;
        min-height: 16px;
        color: var(--primary-title);
    }

    &__title {
        @include mainFont(500, 24, var(--primary-title));

        &_resetting {
            margin-bottom: 16px;
        }

        &_changing {
            margin-bottom: 32px;
        }

        @include tablet {
            font-size: 20px;

            &_resetting {
                margin-bottom: 16px;
            }

            &_changing {
                margin-bottom: 24px;
            }
        }

        @include mobile {
            font-size: 18px;

            &_resetting {
                margin-bottom: 12px;
            }

            &_changing {
                margin-bottom: 16px;
            }
        }
    }

    &__subtitle {
        margin-bottom: 48px;
        @include mainFont(400, 16, var(--primary-subtitle));

        @include tablet {
            margin-bottom: 32px;
            font-size: 14px;
        }

        @include mobile {
            margin-bottom: 24px;
            font-size: 14px;
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: all 500ms ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    visibility: hidden;
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 250ms ease, opacity 150ms ease;
}

.slide-enter-from {
    transform: translateX(100%);
    opacity: 0;
}

.slide-enter-to,
.slide-leave-from {
    transform: translateX(0);
    opacity: 1;
}

.slide-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}