.game-countdown {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 36px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms linear;

    &_visible {
        opacity: 1;
        visibility: visible;
    }

    &__text {
        @include mainFont(600, 96, var(--primary-title));
        transform: scale(3);
        animation: scale 500ms forwards;
    }

    @keyframes scale {
        to {
            transform: scale(1);
        }
    }
}