.main {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include tablet {
        gap: 48px;
    }

    @include mobile {
        gap: 36px;
    }

    &__top {
        display: flex;
        gap: 60px;

        @include mobile {
            flex-direction: column-reverse;
            align-items: center;
            gap: 36px;
        }
    }

    &__bottom {
        min-width: 0;
        display: grid;
        grid-template-columns: 1fr auto;
        justify-items: center;
        gap: 60px;

        @include tablet {
            grid-template-columns: unset;
        }
    }

    &__image {
        width: 100%;
        max-width: 480px;
        min-width: 300px;

        @include tablet {
            max-width: 300px;
            min-width: 200px;
        }

        @include mobile {
            min-width: unset;
        }

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__insight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 48px;

        @include tablet {
            gap: 32px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include tablet {
            gap: 20px;
        }
    }

    &__button {
        &_desktop {
            @include mobile {
                display: none;
            }
        }

        &_mobile {
            display: none;

            @include mobile {
                display: flex;
            }
        }
    }

    &__gradient {
        font-weight: 600;
        background: linear-gradient(to right, #102a7f, #b32d91);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__title {
        @include mainFont(500, 36, var(--primary-title));

        @include tablet {
            font-size: 24px;
        }

        @include mobile {
            text-align: center;
            font-size: 20px;
        }
    }

    &__subtitle {
        @include mainFont(400, 20, var(--primary-subtitle), 28);

        @include tablet {
            font-size: 18px;
        }

        @include mobile {
            text-align: center;
            font-size: 14px;
        }
    }
}