.modal {
    pointer-events: auto;
    z-index: 11;
    position: absolute;
    width: fit-content;

    &_center {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &_bottom {
        bottom: 0;
    }

    &__container {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    &__backdrop {
        pointer-events: auto;
        z-index: 10;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        width: 100vw;
        height: 100vh;
        transition: display .5s linear;

        &_active {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--modal-backdrop);
        }
    }

    &__content {
        display: flex;

        @include mobile {
            // todo: check other modals
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }
    }

    &__close {
        cursor: pointer;
        z-index: 11;
        position: absolute;
        right: -22px;
        top: -22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        transition: opacity 0.3s ease;

        @include mobile {
            right: 16px;
            top: 16px;
        }

        svg {
            width: 16px;
            height: 16px;
            color: var(--modal-close);

            @include mobile {
                color: var(--text-secondary-gray);

                width: 12px;
                height: 12px;
            }
        }

        &:hover {
            opacity: 0.8;
        }
    }
}