.total {
    position: relative;
    display: flex;
    gap: 36px;
    padding: 36px 60px 36px 36px;
    width: auto;
    max-width: 580px;

    border-radius: 36px;
    background-color: var(--blue);

    @include tablet {
        padding: 42px 36px;
        border-radius: 32px;
        max-width: 480px;
    }

    @include mobile {
        flex-direction: column;
        gap: 24px;
        border-radius: 24px;
        width: 100%;
        padding: 32px 42px;
    }

    &__container {
        position: relative;

        @include mobile {
            display: flex;
            justify-content: center;
        }
    }

    &__score {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: fit-content;
        height: fit-content;
        margin: auto;

        @include mainFont(500, 24, var(--text-accent-white));

        @include tablet {
            font-size: 20px;
        }

        @include mobile {
            font-size: 18px;
        }
    }

    &__chart {
        width: 150px;
        height: 150px;
        aspect-ratio: 1;
        opacity: 0;
        visibility: hidden;

        animation: all 1000ms ease;

        &_visible {
            opacity: 1;
            visibility: visible;
        }

        @include tablet {
            width: 120px;
            height: 120px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        @include mobile {
            gap: 12px;
        }
    }

    &__info {
        right: 32px;
        top: 24px;
    }

    &__title {
        @include mainFont(500, 24, var(--text-primary-white));

        @include tablet {
            font-size: 20px;
        }

        @include mobile {
            text-align: center;
            font-size: 18px;
        }
    }

    &__message {
        @include mainFont(400, 16, var(--text-accent-white), 24);

        @include tablet {
            font-size: 14px;
        }

        @include mobile {
            text-align: center;
            font-size: 14px;
        }
    }
}