.header {
    gap: 16px;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 0 64px 0 0;

    @include small-desktop {
        padding: 0 36px 0 0;
    }

    @include tablet {
        padding: unset;
    }

    &__logo {
        height: 42px;
        margin-right: 24px;

        @include tablet {
            min-width: 38px;
            height: 40px;
            margin-right: 12px;
        }

        @include mobile {
            display: none;
        }

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        width: 100%;

        @include mobile {
            justify-content: flex-end;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        @include mobile {
            display: none;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        flex: 1;

        @include small-desktop {
            flex: unset;
        }

        @include tablet {
            display: none;
        }
    }

    &__buttons {
        display: flex;
        gap: 16px;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 12px;

        @include tablet {
            gap: 10px;
        }
    }

    &__avatar {
        width: 45px;
        height: 45px;
        aspect-ratio: 1;
        border-radius: 100%;
        background-color: var(--blue-badge);
        overflow: hidden;

        img, svg {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }

        @include tablet {
            width: 40px;
            height: 40px;
        }
    }

    &__astronaut {
        color: var(--blue-light);
        padding: 10px;
    }

    &__username {
        display: flex;
        align-items: center;

        @include mainFont(500, 16, var(--primary-title));

        @include tablet {
            font-size: 14px;
        }

        @include mobile {
            display: none;
        }
    }

    &__signup {
        @include small-desktop {
            display: none;
        }
    }

    &__results {
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        width: 40px;
        height: 40px;
        border-radius: 12px;
        transition: background-color 0.25s ease-in-out;

        @include tablet {
            display: flex;
        }

        svg {
            position: absolute;
        }
    }

    &__bars {
        background-color: var(--white);

        @include mainShadowMobile;

        &_active {
            background-color: var(--blue);
            color: var(--text-accent-white);
        }
    }

    &__results {
        background-color: var(--blue-badge);
    }
}

.v-enter-active {
    animation: fade 0.25s;
}

.v-enter-leave {
    animation: fade 0.25s reverse;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}