.avatar-uploader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 560px;
    min-width: 500px;
    max-width: 500px;
    padding: 84px 96px 96px 96px;
    border-radius: 48px;
    background-color: var(--primary-bg);

    @include tablet {
        min-height: 460px;
        min-width: 450px;
        max-width: 450px;
        padding: 72px 60px;
        border-radius: 36px;
    }

    @include mobile {
        padding: 0 16px;
        width: 100%;
        min-width: unset;
        max-width: unset;
        min-height: unset;
        border-radius: unset;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include tablet {
            gap: 24px;
        }
    }

    &__cropper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        &-component {
            width: 200px;
            height: 160px;
        }
    }

    &__status {
        position: relative;
        width: 100%;
        margin-bottom: 48px;

        @include tablet {
            margin-bottom: 32px;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        height: 100%;

        @include tablet {
            justify-content: center;
        }
    }

    &__message {
        text-align: center;
        max-width: 350px;

        @include mainFont(400, 20, var(--primary-subtitle));

        @include tablet {
            font-size: 18px;
        }

        @include mobile {
            max-width: 300px;
            font-size: 16px;
        }
    }
}