.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100px;
    min-width: 100px;
    height: 80px;
    border-radius: 24px;

    background-color: var(--badge-bg);
    transition: box-shadow 0.25s ease;

    @include boxShadow(-5, 5, 20, 0, var(--main-shadow));

    &:hover {
        @include boxShadow(-10, 10, 30, 0, var(--main-shadow));
    }

    &__icon {
        color: var(--card-subtitle);
        height: 24px;

        transition: color 0.25s ease;
    }

    &__title {
        @include mainFont(500, 14, var(--card-subtitle));

        transition: color 0.25s ease;
    }

    &:hover {
        .sidebar-item__title,
        .sidebar-item__icon
        {
            color: var(--card-subtitle-hovered);
        }
    }

    &_active {
        background-color: var(--blue);

        .sidebar-item__title,
        .sidebar-item__icon
        {
            color: var(--text-accent-white);
        }

        &:hover {
            @include boxShadow(-5, 5, 20, 0, var(--main-shadow));

            .sidebar-item__title,
            .sidebar-item__icon
            {
                color: var(--btn-text);
            }
        }
    }
}