.checkpoint-progress {
    &__inner {
        width: 100%;
        position: relative;
    }


    &__title {
        // todo: цвета
        @include mainFont(500, 16, var(--text-secondary-graylight));

        @include mobile {
            @include mainFont(500, 12, var(--text-secondary-graylight));
        }
    }

    &__value {
        color: var(--primary-title);
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: start;
        min-width: 80px;
        max-width: 80px;
        height: 6px;
        border-radius: 6px;

        @include widgetContainerShadow();

        @include mobile {
            width: 80%;
            min-width: unset;
            max-width: 100px;
            height: 4px;
        }
    }

    &__line {
        position: absolute;
        width: 100%;
        height: 6px;
        border-radius: 6px;
        background-color: var(--accent-blue);
        transition: width 500ms ease;

        @include mobile {
            height: 4px;
        }
    }

    &__info {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 4px;

        &_warmup {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
}

.fade-enter-active,  {
    transition: opacity 500ms;

}

.fade-leave-active {
    transition: opacity 500ms;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}